#Core scientific stack

numpy
pandas
scikit-learn
matplotlib
seaborn
scipy

#Deep learning

torch
torchvision
torchaudio

#Jupyter & dev tools

jupyter
notebook
ipykernel
pytest

librosa
termcolor
tqdm
ignite
pytorch-ignite
visdom
ftfy
regex