# Specific requirements for zero-shot learning
transformers
datasets
sentencepiece
ftfy
regex
tqdm
sentence-transformers
git+https://github.com/openai/CLIP.git
kagglehub

# Specific requirements for AudioCLIP
torch
torchvision
librosa
soundfile
simplejpeg
numpy
matplotlib
pillow
termcolor==1.1.0