# Core
numpy>=1.26
pandas>=2.2
scipy>=1.13
scikit-learn>=1.5
category-encoders>=2.6

# Modeling extras
xgboost>=2.0
lightgbm>=4.1
catboost>=1.2
optuna>=3.6
shap>=0.46

# Viz & workflow
matplotlib>=3.8
seaborn>=0.13
tqdm>=4.66
jupyterlab>=4.2
ipywidgets>=8.1

kaggle